* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #f9f8eb; */
    background-color: #FAF0E6;
    font-family: Arial, Helvetica, sans-serif
}


#bookList {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
}
#hero {
    display: flex;
    width: 100%;
    height: 440px;
    background-color:#FAEBD7;
}

#hero-img {
    width: 30%;
    height: 380px;
    margin-left: 20px;
    margin-top: 20px;
}

.ribbon {
  width: 0px;
  height: 200px;
  background-color: transparent;
  position: absolute;
  top: -5px;
  right: 20px;
  border: solid 15px #B13A22;
  border-bottom: solid 15px transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

.ribbon:hover {
    height: 350px;
  }

.hero-text {
    display: flex;
    flex-wrap: wrap;
    font-family: 'EB Garamond', serif;
    color: black;
}
.hero-text .booksRecs {
    text-align: center;
    margin-left: 100px;
    font-size: 50px;
    margin-bottom: 0px;
}

#divider {
    margin-left: 375px;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 10px;
}

.blurb {
    font-size: 20px;
    initial-letter: 2;
    margin-bottom: 50px;
    margin-left: 80px;
    width: 85%;
    text-indent: 5px;
}

.blurb::first-letter {
    initial-letter: 1.5;
    padding: 12px;
}

.filter {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #808876;
    margin-bottom: 50px;
    font-weight: 525;
}

.filter select {
    margin-left: 20px;
    padding: 10px;
    font-size: 14px;
    background-color: #ffffff;
    border: 2px solid black;
    color: black;
    font-weight: light;
    cursor: pointer;
}

.book-listing {
    width: 90%;
    /* height: 90%; */
    margin-bottom: 30px;
}

.book-listing img {
    width: 100%;
    height: 65%;
}

.book-listing figcaption, .book-listing p {
    text-align: center;
}

.book-listing figcaption {
    font-weight: bold;
    color: #20392C;
    padding-top: 20px;
}

.book-listing p {
    font-style: italic;
}

.caption-wrapper {
    background-color: white;
    padding: 10px;
    display: flex;
    min-height: 170px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.book-capt {
    cursor: pointer;
}

.book-capt:hover {
    color: #74A705;
    transition: ease-in-out 0.2s;
    text-decoration: underline;
}

.see-more {
    background-color: #ffffff;
    color: black;
    border: none;
    cursor: pointer;
    /* margin-top: 20px; */
}

.btn-container {
    display: flex;
    border-top: 1px solid grey;
    padding-top: 10px;
}

.btn-text {
    width: 100%;
    margin-top: 10px;
    opacity: 0;
    text-align: center;
}

.take-quiz {
    border: none;
    background-color: #ffffff;
    /* margin-top: 20px; */

}

.take-quiz:hover {
    /* color: #D8FF81; */
    color: #74A705;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.see-more:hover {
    /* color: #D8FF81; */
    color: #74A705;
    transition: 0.3s ease-out;
}
